parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
